.brand {
    margin-top: 40px;
    margin-bottom: 80px;

    &-wrapper {

        .swiper-button-next,
        .swiper-button-prev {
            right: -62px;
        }

        .swiper-button-prev,
        .swiper-rtl .swiper-button-next {
            left: -62px;
        }

        @include responsive_pcLower {
            .brand-slide__button {
                display: none;
            }
        }
    }

    &-slide {
        position: relative;

        &__img {
            margin-bottom: 80px;

            @include responsive_mobile {
                width: 100%;
            }
        }

        &__cover {
            position: relative;
            color: $text-color;

            &:hover {
                color: $back-gray;
            }
        }

        &__info {
            position: absolute;
            @include flexBox(hor);
            bottom: -100px;

            padding: 20px 0;
            margin-left: 18px;

            &>img {
                background-color: $back-white;
                border: 7px solid $back-white;
                border-radius: 50%;
            }

            @include responsive_mobile {
                bottom: -105px;
                line-height: 22px;
                margin-left: 12px;
            }
        }

        &__text {
            margin-left: 14px;
            font-size: 2rem;
        }
    }

    &-rent {
        padding: 76px 0 90px;

        &__title {
            position: relative;
            font-size: 2rem;
            color: $back-white;
            @include flexBox(both);
            min-height: 60px;
            margin: 0 -10px;
            background-image: $mix-color;

            &::after {
                position: absolute;
                content: '';
                bottom: -10px;
                left: -10px;
                border-bottom: 10px solid transparent;
                border-right: 10px solid #C2210F;
                border-left: 10px solid transparent;
            }

            &::before {
                position: absolute;
                content: '';
                bottom: -10px;
                right: -10px;
                border-bottom: 10px solid transparent;
                border-left: 10px solid #C48B13;
                border-right: 10px solid transparent;
            }
        }

        &__img {
            width: 100%;
        }

        &__text {
            padding: 18px 0 20px;
            color: $back-gray;
            font-size: 2rem;
            text-align: center;

            background-color: $back-white;
            border-bottom-left-radius: 16px;
            border-bottom-right-radius: 16px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        }

        .swiper-wrapper {
            margin-bottom: 10px;
        }

        &__cover {
            margin: 0 10px;
        }

        .swiper-button-next.swiper-button-disabled,
        .swiper-button-prev.swiper-button-disabled {
            opacity: 0;
        }
    }
}